<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.universe.intelliscout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntelliScout"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.ListEditActivites"></activity>
        <activity android:name=".Equipment.ListEquipmentActivity" />
        <activity android:name=".Equipment.EditEquipmentActivity"/>
        <activity android:name=".Equipment.ListEditEquipmentActivity" />
        <activity android:name=".Activities.GetActivityActivities" />
        <activity android:name=".Activities.EditActivities" />
        <activity android:name=".Activities.GetAllActivities" />
        <activity android:name=".Equipment.AddEquipmentActivity" />
        <activity android:name=".Profile.ProfileGetAllActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Profile.EditProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Authentic.LoginActivity" />
        <activity
            android:name=".SplashScreen.SplashScreenActivity"
            android:label="IntelliScout"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>